{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><center>Donation</center></h3>
    <br>
    <form method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <th>Title</th>
                <td><input type="text" name="txt_title" placeholder="enter title" required></td>
            </tr>
            <tr>
                <th>Descrition</th>
                <td><input type="text" name="txt_description" placeholder="enter descrition" required></td>
            </tr>
            <tr>
                <th>Donationtype</th>
                <td>
                    <select name="txt_donationtype" required>
                        <option>-----select-----</option>
                        {% for i in donation_type %}
                        <option value="{{i.id}}">{{i.donation.donationtype_name}}</option>
                        {% endfor %}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" name="btn_add" value="Add">
    
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            <br>
            <br>
            <table border="1"align="center">
                <tr>
                    <td>Sl.No</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Date</td> 
                    <td>Type</td>
                    <td>Orphanage</td> 
                    
                </tr>
                {% for i in donation %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.donation.title}}</td>
                    <td>{{i.donation.description}}</td>
                    <td>{{i.donation.date}}</td>  
                    <td>{{i.dtype.donationtype_name}}</td>
                    <td>
                        {% if i.donation.orphnage_id == "null" %}
                        Not Assigned
                        {% else %}
                        {{i.orphnage.orphanage_name}}
                        {% endif %}
                    </td>            
                </tr>
                {% endfor %}
            </table>             
</body>
</html>
<br><br>
{% endblock content %}