{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><center>Orphanage Request</center></h3>
    <br>
    <table border="1"align="center">
        <tr>
            <td>Sl.No</td>
            <td>Title</td>
            <td>Description</td>
            <td>NumberofHead</td> 
            <td>Donationtype</td>
            <td>Amount</td> 
        </tr>
        {% for i in orphreqdata %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.orphreq.title}}</td>
            <td>{{i.orphreq.description}}</td>
            <td>{{i.orphreq.numberofhead}}</td>  
            <td>{{i.dtype.donationtype_name}}</td>
            <td>{{i.orphreq.amount}}</td>
        </tr>
        {%endfor %}
    </table> 
</body>
</html>
<br><br>
{% endblock content %}