<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'webadmin:complaint' %}">View Complaint</a>
    <a href="{% url 'webadmin:replyed_complaint' %}">Replyed Complaint</a>
    <a href="{% url 'webadmin:feedback' %}">Feed Back</a>
    <a href="{% url 'webadmin:Orphanagerequest' %}">View Requests</a>
    <a href="{% url 'webadmin:NewOrphanage' %}">New Orphanage</a>
    <a href="{% url 'webadmin:Accepted_Orphanage' %}">Accepted Orphanage</a>
    <a href="{% url 'webadmin:Rejected_Orphanage' %}">Rejected Orphanage</a>
    <a href="{% url 'webadmin:accepted_orrequest' %}">Accepted Request</a>
    <a href="{% url 'webadmin:rejected_orrequest' %}">Rejected Request</a>
    <a href="{% url 'webadmin:View_User_Donation' %}">User Donation</a>
    <a href="{% url 'webadmin:Assigned_Request' %}">Assigned Donations</a>
</body>
</html>