<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {%csrf_token %}
        <table border="1" align="center">
            <tr>
            <th>Number 1</th>
            <td><input type="text"name="txt_number 1"placeholder="enter number"></td>
            </tr>
            <tr>
            <th>Number 2</th>
            <td><input type="text"name="txt_number 2"placeholder="enter number"></td>
        </tr>
        <tr>
            <td colspan="2"align="center">
            <input type="submit"name="btn_res"value="sum">
            <input type="submit"name="btn_res"value="div">
            <input type="submit"name="btn_res"value="mul">
            <input type="submit"name="btn_res"value="diff">
        </td>
        </tr>
        </table>
    </form>
    result={{value}} 
    
</body>
</html>