{% extends 'Orphanage/Header.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <h3><center>Assigned_Donation</center></h3>
        <table border="1"align="center">
            <tr>
                <td>Sl.No</td>
                <td>User Name</td>
                <td>Donationtype</td>
                <td>Title</td> 
                <td>Description</td>
                <td>Date</td> 
                
            </tr>
            {% for i in donationdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.dtype.donationtype_name}}</td>
                <td>{{i.donation.title}}</td>  
                <td>{{i.donation.description}}</td>
                <td>{{i.donation.date}}</td>            
            </tr>
            {%endfor %}
        </table>     
</body>
</html>
<br><br>
{% endblock content %}