{% extends 'Orphanage/Header.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><center>MyProfile</center></h3>
    <br>
    <form method="post">
        {%csrf_token %}
        <table border="1" align="center">
                <tr>
                <th>Name</th>
                <td>{{orphanage.orphanage_name}}</td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>{{orphanage.orphanage_contact}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{orphanage.orphanage_email}}</td>
                        </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{orphanage.orphanage_address}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"align="center">
                            <a href="{% url 'weborphanage:Editprofile' %}">Editprofile</a> 
                            <a href="{% url 'weborphanage:Changepassword' %}">Change password</a>
                        </td>
                        </tr>
                </table>
            </form>       
</body>
</html>
<br><br>
{% endblock content %}